<body>
<div class="container">
<h1>Abilities Cafe</h1>
<a href = "/login">Click here to do something</a>

<h1>Menu</h1>
<p>Here's a list of food:</p>
<p>Coffee</p>
<p>Scones</p>
<p>Hot Chocolate</p>
<p>Mocha</p>
<p>Tea</p>
<h2><br/><%= text %></h2>
</div>
</body>
</html>