.logo {
    max-width: 1000px;
    margin: auto;
    position: relative;
    text-align: center;
}

/* Centers things on the window, such as the Abilities Cafe logo and the food items*/
.center {
    max-width: 500px;
    margin: auto;
    position: relative;
    background-color:aqua;
}

.margin-label {
    margin: 4%;
    margin-top: 2%;
    margin-bottom: 0%;
}

.margin-field {
    margin: 4%;
    margin-top: 0%;
    margin-bottom: 2%;
}

.margin-option{
    margin-left: 4%;
}

.margin-submit {
    margin: 4%;
}
